* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-background-color: #1a1a1a;
  --dark-box-background-color: #2a2a2d;
  --principal-dark-background-font-color: #f5f5f5;
  --legend-dark-background-font-color: #b8b8b8;



  --legend-light-background-font-color: #636262;
  --light-background-color: #779bbdc5;
  --light-box-background-color: #d6ddff;
  --principal-light-background-font-color: #1d222e;
  --sugestions-box-light-background-color: #f4f4f4;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 35px;
  overflow-y: hidden;
  background-color: var(--light-background-color);
  font-family: "Istok Web", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--principal-dark-background-font-colors);
}

.dashboard {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: minmax(220px, auto) 1fr;
  gap: 20px;

  height: calc(100vh - 120px); 
  min-height: 0;
}

.selected-weather {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: black;

  padding: 5px;
}


#map {
  grid-column: 1;
  grid-row: 2;
}

.graphic {
  grid-column: 2;
  grid-row: 2;
 
}

#map, .graphic {
  width: 100%;
  height: 100%;
  min-height: 260px;
}

.weather-preview {
  grid-column: 3;
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 0;       
  overflow: visible;
}
.dashboard>div {
  border-radius: 15px;
  background-color: var(--light-box-background-color);
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.03);
}

.weather img, .day-weather img {
filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 10px;
}

.location h3 {
  color: #68768c;
  font-weight: 400;
  font-size: 1.20rem;
  font-family: 'inter', sans-serif;
}

span {
  color: #757575
}

header .location {
  display: flex;
  align-items: center;
  gap: 5px;
}

header .location svg path {
  stroke-width: 1.5;
}

header .location svg {
  height: 23px;
  margin-bottom: 5px;
}

.search-box {
  display: flex;
  position: relative;
}

header input[type="search"] {
  position: relative;
  background-color: var(--light-box-background-color);
  border: none;
  height: 35px;
  border-radius: 20px;
  width: 500px;
  appearance: none;
  outline: none;
  padding: 12px;
  color: white;
}


header input[type="search"]::-webkit-search-decoration,
header input[type="search"]::-webkit-search-cancel-button {
  display: none;
}


.suggestions {
  display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1px;
  background-color: var(--light-box-background-color);
  width: 100%;
 
  max-height: 200px;
  height: inherit;
  border-radius: 10px;
  overflow-y: auto;
  z-index: 1000;
  font-family: Arial, sans-serif;
  

  transition: box-shadow 0.2s ease, transform 0.15s ease;
}

.suggestions.light {
   box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.15),
    0 4px 8px rgba(0, 0, 0, 0.08);
}

.suggestions.dark {
   box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.35),
    0 4px 8px rgba(0, 0, 0, 0.28);
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.suggestions.light .suggestion-item:hover {
  background-color: var(--legend-dark-background-font-color);
}

.suggestions.dark .suggestion-item:hover {
  background-color: var(--legend-light-background-font-color);
}


.suggestion-flag {
  width: 24px;
  height: 16px;
  object-fit: contain;
}


.suggestions.dark .city {
  color: var(--principal-dark-background-font-color);
}

.suggestions.dark .country {
  color: var(--legend-dark-background-font-color);
}

.suggestions.light .city {
  color: var(--principal-light-background-font-color);
}

.suggestions.light .country {
  color: var(--legend-light-background-font-color);
}


.city {
  font-size: 16px;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  color: var(--principal-light-background-font-color);
}

.country {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  color: var(--legend-light-background-font-color);
  font-family: 'Montserrat', sans-serif;
}
.suggestion-info div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}

.clear-btn {
  display: flex;
  position: absolute;
  right: 10px;
  font-size: 23px;
  top: 3px;
  cursor: pointer;
  color: #8f8e8e;
}

.switch {
  position: relative;
  width: 60px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


#selected-theme {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  z-index: 2;
}

input:checked+.slider #selected-theme {
  left: 38px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dcdef0;
  transition: .3s;
  border-radius: 26px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .3s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--dark-box-background-color);
}

input:checked+.slider::before {
  transform: translateX(34px);
}


.row {
  display: flex;
}


.date {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  padding: 3px 0px;
  border: none;
}

.main-weather {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 3px;
}

.weather-info {
  display: flex;
  align-items: center;
  gap: 7px;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather img {
  width: 115px;
}

.weather-container div {
  margin: 5px 0;
}



.weather-info p {
  color: var(--dark-box-background-color);
  font-size: 15px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.weather-info svg {
  width: 20px;
}



.weather-container h2 {
  color: var(--dark-box-background-color);
  font-size: 1.2rem;
  margin-left: 30px;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: 'inter', sans-serif;
}

.weather-info:nth-child(3){
  margin-top: 25px;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.temperature h1 {
  font-size: 1.7rem;
  color: var(--dark-box-background-color);
  font-weight: 500;
  font-family: 'Lato', sans-serif;

}

.temperature p {
  font-size: 1rem;
  color: var(--legend-light-background-font-color);
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}

.map {
  min-width: 0; 
}
#recenter {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  left: 20px;
  padding: 10px 14px;
  background: #F4F4F4;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.forecast {
  display: flex;
  padding: 15px;
  overflow-y: auto;

}

.forecast ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.forecast ul li {
  position: relative;
  padding-bottom: 2px;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: inherit;
}

.forecast ul li.active::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -6px;

  width: 100%;
  height: 2.5px;
  background: #47A1C9;

  border-radius: 2px;
}

.forecast ul li:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container-forecast {
  
  display: flex;
  gap: 12px;
  padding: 15px;
  flex-direction: column;
  min-height: 200px;
  overflow: hidden;
  flex: 1;
  overflow-y: auto;
}

.container-forecast, .graphic{
position: relative;

}
.day-weather {
  display: flex;
  gap: 10px;
  background-color: inherit;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-radius: 13px;

  transition:
    height 0.25s ease,
    background-color 0.2s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}


.weather-icon {
  width: 50px;
}

.weather-info svg path{
  color: var(--legend-light-background-font-color);
}

.weather-info svg {
   color: var(--legend-light-background-font-color);
}

.day-weather:hover,
.day-weather:focus-visible {
  transform: scale(1.03);
  background-color: var(--hover-bg);
  cursor: pointer;
  opacity: 0.8;
  
}


.day-weather img {
  width: 60px;
}


.day-weather p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--legend-light-background-font-color);
}

.day-weather p:nth-child(2) {
  font-weight: 600px;

}

.day-weather h3 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--dark-box-background-color);
}


/* ---------------- MOBILE ---------------- */
@media (max-width: 600px) {
  body {
    overflow-y: auto; 
    padding: 10px;
  }

  .location h3 {
    font-size: 12px;
  }
  header .location svg {
    height: 15px;
  }

  header .location{
    gap: 0px;
    margin-right: 2px;
  }
  header input[type="search"] {
    width: 180px;
  }

  .app {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    gap: 15px;
    margin-top: 10px;
  }

  .selected-weather, 
  .weather-preview, 
  .graphic, 
  #map {
    grid-column: 1 !important; 
    grid-row: auto !important;
    width: 100%;
  }

  #map, .graphic {
    min-height: 250px;
  }

  .weather-preview {
    min-height: 300px;
    background-color: transparent; 
  }

  .weather-info p {
   font-size: 11px;
   margin-bottom: 2px;
  }

  .weather-container h2 {
    font-size: 12px;
    margin-left: 24px;
  }

  .weather-info {
    gap: 4px;
  }

  .weather img {
    width: 90px;
  }
  .temperature h1 {
    font-size: 1.4rem;
  }
  .temperature p {
    font-size: 0.9rem;
  }

  .switch {
    width: 46px;
    height: 22px;
  }

  .slider::before {
    height: 18px; 
    width: 18px;
    left: 2px;
    bottom: 2px;
  }

  input:checked + .slider::before {
    transform: translateX(24px); 
  }
  #selected-theme {
    width: 14px;
    height: 14px;
    left: 4px;
  }

  input:checked + .slider #selected-theme {
    left: 28px;
  }
}
/* ---------------- TABLET ---------------- */
@media (min-width: 760px) and (max-width: 1024px) {
  body {
    overflow-y: scroll;
  }

  .app {
    gap: 5px;
  }

  .dashboard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 400px 350px;
    margin-top: 30px;
  }

  .selected-weather {
    grid-column: 1 / 3;
    grid-row: 1;
  }



  #map {
    grid-column: 1;
    grid-row: 3;
  }

  .graphic {
    grid-column: 1;
    grid-row: 2;
  }

  .weather-preview {
    grid-column: 2;
    grid-row: 2 / 4;
    background-color: purple;
  }

}

/* ---------------- DESKTOP ---------------- */
@media (width: 1280px) and (max-height: 800px) {
  body {
    overflow-y: hidden;
  }

  .app {
    margin-top: 0;
    min-height: 0;
  }

  .dashboard {
    grid-template-rows: 270px 350px;
    margin-top: 20px;
  }
}

/* ------------------- Monitor ---------------- */
@media (width: 1390px) and (max-height: 800){
  .dashboard {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 300px; 
  grid-template-rows: auto 1fr; 
  margin-top: 5px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
  
}

.loading {
  position: absolute;
  inset: 0; 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  pointer-events: none;
}

.loading.hidde {
  display: none;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #3888CE;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {transform: rotate(1turn)}
}

.loading span {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--legend-light-background-font-color);
}

.no-location-found{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center

  
}

.no-location-found p {
   font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

