/* Remove margens e faz html e body ocuparem 100% */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Faz o mapa realmente ocupar toda a tela */


:root {
  --dark-background-color: #100F14;
  --dark-box-background-color: #232325;
  --principal-dark-background-font-color: #FFFFFF;
  --legend-dark-background-font-color: #757575;

  --legend-light-background-font-color: #505555;
  --light-background-color: #B6BCFA;
  --light-box-background-color: #E2E7FB;
  --principal-light-background-font-color: #0E1935;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 25px;
  overflow-y: hidden;
  background-color: var(--light-background-color);
  font-family: "Istok Web", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--principal-dark-background-font-colors);
}

.dashboard {
  display: grid;
  gap: 5px;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 220px 260px;
  gap: 20px;
  margin-top: 5px;
}

.selected-weather {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: black;

  padding:5px;
}


#map {
  grid-column: 1;
  grid-row: 2;
}

.graphic {
  grid-column: 2;
  grid-row: 2;
  background-color: blueviolet;
}

.weather-preview {
  grid-column: 3;
  grid-row: 1 / 3;
  /* ocupa linha 1 e linha 2 */
  background-color: purple;
  /* mude a cor depois */
}

.dashboard>div {
  border-radius: 15px;
  background-color: var(--light-box-background-color);
   box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

/* ---------------- MOBILE ---------------- */
@media (min-width: 320px) and (max-width: 700px) {
  body {
    overflow-y: scroll;
    padding: 10px;
  }

  .app {
    min-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
  }

  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 200px);
    gap: 10px;
    margin-top: 10px;
  }

  .selected-weather {
    grid-column: 1;
    grid-row: 1;
  }

  .weather-preview {
    grid-column: 3;
    grid-row: 1 / 3;
    /* ocupa linha 1 e linha 2 */
    background-color: purple;
    /* mude a cor depois */
  }


  .graphic {
    grid-column: 1;
    grid-row: 3;
  }

  #map {
    grid-column: 1;
    grid-row: 4;
  }


}

/* ---------------- TABLET ---------------- */
@media (min-width: 760px) and (max-width: 1024px) {
  body {
    overflow-y: scroll;
  }

  .app {
    gap: 5px;
  }

  .dashboard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 400px 350px;
    margin-top: 30px;
  }

  .selected-weather {
    grid-column: 1 / 3;
    grid-row: 1;
  }



  #map {
    grid-column: 1;
    grid-row: 3;
  }

  .graphic {
    grid-column: 1;
    grid-row: 2;
  }

   .weather-preview {
    grid-column: 2;
    grid-row: 2 / 4;
    background-color: purple;
  }

}

/* ---------------- DESKTOP ---------------- */
@media (width: 1280px) and (max-height: 800px) {
  body {
    overflow-y: hidden;
  }

  .app {
    margin-top: 0;
    min-height: 0;
  }

  .dashboard {
    grid-template-rows: 270px 350px;
    margin-top: 20px;
  }
}

/* ---------------- HEADER ---------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 10px;
}

.location h3 {
  color: #68768c;
  font-weight: 400;
  font-size: 1.20rem;
  font-family: 'inter', sans-serif;
}

span {
  color: #757575
}

header .location {
  display: flex;
  align-items: center;
  gap: 5px;
}

header .location svg path {
  stroke: var(--dark-background-color);
  stroke-width: 1.5;
}

header .location svg {
  height: 23px;
  margin-bottom: 5px;
}

/* ---------------- SEARCH BOX ---------------- */

.search-box {
  display: flex;
  position: relative;
}

header input[type="search"] {
  background-color: var(--light-box-background-color);
  border: none;
  height: 35px;
  border-radius: 20px;
  width: 500px;
  appearance: none;
  outline: none;
  padding: 12px;
  color: white;
}

.dark header input[type="search"]::placeholder {
  color: white;
}


header input[type="search"]::-webkit-search-decoration,
header input[type="search"]::-webkit-search-cancel-button {
  display: none;
}


/* botão X */
.clear-btn {
  display: flex;
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 5px;
  cursor: pointer;
  color: #757575;
}



/* ---------------- TOGGLE ---------------- */

.switch {
  position: relative;
  width: 60px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


#selected-theme {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  z-index: 2;
}

input:checked+.slider #selected-theme {
  left: 38px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dcdef0;
  transition: .3s;
  border-radius: 26px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .3s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--dark-box-background-color);
}

input:checked+.slider::before {
  transform: translateX(34px);
}


/* MAIN WEATHER - DASHBOARD */

.row {
  display: flex;
}


.date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  margin: 0 auto 10px auto;
  padding: 5px 10px;
  border-radius: 0; /* não precisa mais arredondar */
  border: none; /* remove borda completa */
}
.main-weather {
  padding: 2px 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.weather-info {
  display: flex;
  align-items: center;
  gap: 7px;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather img {
  width: 80px;
}

.weather-container div {
  margin: 5px 0;
}



.weather-info p {
  color: var(--dark-box-background-color);
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.weather-info svg {
  width: 20px;
  color: var(--dark-box-background-color);
}

.weather-info svg path {
  color: var(--dark-box-background-color);
}

.weather-container h2 {
  color: var(--dark-box-background-color);
  font-size: 1.2rem;
  margin-left: 30px;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: 'inter', sans-serif;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.temperature h1 {
  font-size: 2.2rem;
  color: var(--dark-box-background-color);
  font-weight: 500;
  font-family: 'Lato', sans-serif;

}

.temperature p {
  font-size: 1rem;
  color: var(--legend-light-background-font-color);
  margin-left: 12%;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}

/*  MAP */

#recenter {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  left: 20px;
  padding: 10px 14px;
  background: #F4F4F4;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}
/* FORECAST */
.forecast {
  display: flex;
  padding: 15px 15px;
  
}

.forecast ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.forecast ul li {
  position: relative;
   padding-bottom: 2px;
  list-style: none;
  font-family:'Montserrat', sans-serif ;
  font-size: 15px;
  font-weight: 400;
  color: var( --legend-light-background-font-color);
}
.forecast ul li.active::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -6px; 

  width: 100%;
  height: 2px;
  background: var(--principal-light-background-font-color);

  border-radius: 2px;
}
