/* Remove margens e faz html e body ocuparem 100% */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Faz o mapa realmente ocupar toda a tela */
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

:root {
  --dark-background-color: #070C1B;
  --dark-box-background-color: #0E1935;
  --principal-dark-background-font-colors: #FFFFFF;


  --light-background-color: #F0F0F0;
  --light-box-background-color: #5fb0eb;
  --principal-light-background-font-colors: #0E1935;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  overflow-y: hidden;
  background-color: var(--light-background-color);
  font-family: "Istok Web", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--principal-dark-background-font-colors);
}

.dashboard {
  display: grid;
  gap: 5px;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 220px 260px;
  gap: 20px;
  margin-top: 5px;
}

.main-weather {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: black;
}

.today-weather {
  grid-column: 3;
  grid-row: 1;
  background-color: blue;
}

.map {
  grid-column: 1;
  grid-row: 2;
  background-color: red;
}

.graphic {
  grid-column: 2;
  grid-row: 2;
  background-color: blueviolet;
}

.week-weather {
  grid-column: 3;
  grid-row: 2;
  background-color: yellow;
}

.dashboard > div {
  border-radius: 15px;
  padding: 20px;
  background-color: var(--light-box-background-color);
}

/* ---------------- MOBILE ---------------- */
@media (min-width: 320px) and (max-width: 700px) {
  body {
    overflow-y: scroll;
    padding: 10px;
  }

  .app {
    min-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
  }

  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 200px);
    gap: 10px;
    margin-top: 10px;
  }

  .main-weather { grid-column: 1; grid-row: 1; }
  .today-weather { grid-column: 1; grid-row: 2; }
  .graphic { grid-column: 1; grid-row: 3; }
  .map { grid-column: 1; grid-row: 4; }
  .week-weather { grid-column: 1; grid-row: 5; }
}

/* ---------------- TABLET ---------------- */
@media (min-width: 760px) and (max-width: 1024px) {
  body {
    overflow-y: scroll;
  }

  .app {
    gap: 5px;
  }

  .dashboard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 400px 350px;
    margin-top: 30px;
  }

  .main-weather { grid-column: 1 / 3; grid-row: 1; }
  .today-weather { grid-column: 2; grid-row: 2; }
  .map { grid-column: 1; grid-row: 3; }
  .graphic { grid-column: 1; grid-row: 2; }
  .week-weather { grid-column: 2; grid-row: 3; }
}

/* ---------------- DESKTOP ---------------- */
@media (width: 1280px) and (max-height: 800px) {
  body {
    overflow-y: hidden;
  }

  .app {
    margin-top: 0;
    min-height: 0;
  }

  .dashboard {
    grid-template-rows: 270px 350px;
    margin-top: 20px;
  }
}

/* ---------------- HEADER ---------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 10px;
}

.location h3 {
  color: #949FAF;
  font-weight: 400;
  font-size: 1.20rem;
}

span {
  color: var(--principal-light-background-font-colors);
}

header .location {
  display: flex;
  align-items: center;
  gap: 5px;
}

header .location svg path {
  fill: var(--dark-background-color);
  stroke: var(--dark-background-color);
  stroke-width: 1.5;
}

header .location svg {
  height: 23px;
  margin-bottom: 5px;
}

/* ---------------- SEARCH BOX ---------------- */

.search-box {
  display: flex;
  position: relative;
}

header input[type="search"] {
  background-color: var(--light-box-background-color);
  border: none;
  height: 35px;
  border-radius: 20px;
  width: 500px;
  appearance: none;
  outline: none;
  padding: 12px;
  color: white;
}

header input[type="search"]::placeholder {
  color: white;
}

/* remove ícones nativos */
header input[type="search"]::-webkit-search-decoration,
header input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* remove fundo branco do autofill */
input[type="search"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--light-box-background-color) inset;
    -webkit-text-fill-color: #fff;
}

/* botão X */
.clear-btn {
  display: flex;
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 3px;
  cursor: pointer;
}

/* ✔ só mostra o X quando tem texto */
input[type="search"]:placeholder-shown + .clear-btn {
  display: none;
}

/* ---------------- TOGGLE ---------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


#selected-theme {
  position: absolute;
  width: 20px;        /* ajuste conforme tamanho do ícone */
  height: 16px;
  top: 50%;
  left: 3px;          /* posição inicial sobre a bolinha */
  transform: translateY(-50%);
  z-index: 2;         /* por cima da bolinha */
  pointer-events: none; /* evita interferir no clique */
}

input:checked + .slider #selected-theme {
  left: 38px;         /* deslocamento quando o switch estiver ON */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .3s;
  border-radius: 26px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--light-box-background-color);
}

input:checked + .slider::before {
  transform: translateX(34px);
}
